<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Libtorrent">
        <setting id="libtorrent_enable" label="Use Libtorrent for downloads" type="bool" default="false"/>
    </category>
    <category label="Transmission">
    	<setting id="trpc_enable" label="Use Transmission for downloads" type="bool" default="true"/>
        <setting id="trpc_host" label="Host" type="ipaddress" subsetting="true" enable="eq(-1,true)" value="192.168.5.29" default="192.168.5.29" />
        <setting id="trpc_port" label="Port" type="number" subsetting="true" enable="eq(-2,true)" value="9091" default="9091" />
        <setting id="trpc_user" label="Username" type="text" subsetting="true" enable="eq(-3,true)" value="" />
        <setting id="trpc_pass" label="Password" type="text" option="hidden" subsetting="true" enable="eq(-4,true)" value="" />
        <setting id="trpc_ddir" label="Download Dir" type="folder" subsetting="true" enable="eq(-5,true)" value="" />
    </category>
</settings>